
      {% block title %}

 My TJ's Run Account
      
      {% endblock %}


    {% block body %}
    
    <!--Render my log-in-->
    <div id="create-account">
  <h2>Create an Account</h2>
  <p>Start favoriting recipes and populate your grocery list!</p>
  <form action="/users" method="POST">
    <p>
      First Name <input type="text" name="fname">
    </p>

    <p>
      Last Name <input type="text" name="lname">
    </p>

    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  </div>
  <div id="log-in">
  <h2>Log In</h2>
  <p>See your recipes and grocery list!</p>
  <form action="/" method="POST">

    <p>
      Email: <input type="text" name="email">
    </p>

    <p>
      Password: <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  </div>
    {% endblock %}

    {% block after_body %}
    
    
    {% endblock %}
