@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

#page-container {
  position: relative;
  min-height: 100vh;
}

/* HTML BODY NAV LINKS LISTS HEADERS PARAGRAPHS IMG:HOVER */

html {font-size: 100%;
      height: 100%;} /*12px*/

body {
  background: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  overflow-y: scroll;
  justify-content: center;
}

button {
  background-color: #f2f2f2;
  border: none;
  color: #D21242;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  margin-right: 3px;
  margin-left: 3px;
}

button:hover {
  background-color: #eaeaea;
  border: none;
  color: #D21242;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  
}

button:focus {
  outline: none;
  box-shadow: none;
}

nav {
  overflow: hidden;
  background-color: #f2f2f2;
  position: fixed; /* Set the navbar to fixed position */
  top: 0px; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 999;
} 

nav img {
  position: fixed;
  height: 60px;
  top: 10px;
  left: 20px;

}

/* Change the color of links on hover */
a:hover {
font-weight: bold;
}

/* Add a color to the active/current link */
a {
background-color: #fff;
color: #D21242;
text-decoration: none;
padding:0.1em;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

* {
  box-sizing: border-box;
}


ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}
li {
  display: inline-table;
  padding: 5px;
  padding-top: auto;
  patting-bottom: auto;
}
p {margin-bottom: 1rem;}


h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
  color: #D21242;
  font-weight: 500;
}

h2 {font-size: 1.602rem;}

h3 {font-size: 1.424rem;
  color: #D21242;
  font-weight: 500;}

h4 {font-size: 1.266rem;}

h5 {font-size: 1.125rem;}

small, .text_small {font-size: 0.8rem;}
/* suggested 0.889 */


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 999;
  box-shadow:0 -3px 3px -3px grey;
} 

footer img {
  margin-left: 0.5rem;
}

footer a {
  color: #D21242;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', opensans;
  font-weight: 500;
  padding: 0.5em;
}

footer a:hover {
  background: #eaeaea;
  color: #D21242;
  font-family: 'Poppins', opensans;
  font-weight: 500;
  padding: 0.5em;

} 


/* TABLE STUFF */

td, tr {
  padding: 5px
}


input[type=text], input[type=tel], input[type=password] {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  max-width: 130px;
  border-radius: 10px;

}

input:focus {
  outline: none;
  box-shadow: none;
}