
.text_small {
  font-size: 0.8rem;
  padding-bottom: 0.6em;
}


.main {
  min-height: 100vh;
  top: 330px; /* height under tjbar */
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background: #f2f2f2;
  color: #000;
  margin: auto;
}

/* NAVBAR ONLY  */
.nav-left {
  position: absolute;
  margin-left: 70px;
}
.nav-left a {
  color: #D21242;
  background: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-family: 'PT Sans', opensans;
  font-weight: 500;
  padding: 0.4em;
}

.nav-left a:hover {
  background: #D21242;
  color: #fff;
  font-family: 'PT Sans', opensans;
  font-weight: 600;
  padding: 0.4em;

} 

.nav-right button, .submit-button {
  background-color: #D21242;
  border: none;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 10px;
}

.nav-right button:hover, .submit-button:hover {
  background-color: #bd0d39;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 10px;
 }

.nav-right button:focus {
  outline: none;
  box-shadow: none;
}



/* Right-aligned section inside the top navigation */
.nav-right {
  float: right;
  padding: 1.5em;
  overflow: hidden;
}


.nav-left {
  float: left;
  padding: 1.5em;
}

.search-form {
  display: inline;
}

.nav-right input {
  border-radius: 10px 0 0 10px;
  border-color:#D21242;
}

.nav-right .search-button {
  border-radius: 0 10px 10px 0px;
  margin-left: 0px;
}

.nav-right .search-button:hover {
  border-radius: 0 10px 10px 0px;
}
/* END NAV BAR */



/*  TJBAR ONLY */

#tjbar {
  position: fixed;
  top: 4.7rem;    /* NavBar TJNavBar height */
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  height: 2.5rem;
  width: 100%;
  padding: 0.3em;
  background: #fff;
  text-align: center;
  z-index: 999;
  overflow: hidden;
}

#tjbar a {
  color: #D21242;
  text-align: center;
  padding: 8px 0px;
  width: 40%;
  text-decoration: none;
  font-family: 'PT Sans', opensans;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  align-items: center;

}
#tjbar a:hover {
  color:#bd0d39;
  font-family: 'PT Sans', opensans;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  padding-bottom: 20em;
} 

#tjbar-dropdown {
  position:fixed;
  top: 7.05rem;    /* NavBar TJNavBar height */
  width: 42rem;
  left: calc(50% - 288px);
  background: #fff;
  z-index: 99;
  display: flex;
  padding: 10px;
  justify-content: center;
  border: 1px solid darkgrey;
  border-top: 2px solid #D21242;

}

.checkicon {
  color:#D21242;
  font-size: 1.125rem;
  text-align: center;
  vertical-align: top;
}

#tjbar-table {
  margin-right: 5px;
  padding-top: 40px;
  padding-left: 8px;
}


#tjbar-table a {
  background-color: #D21242;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: 'PT Sans', opensans;
  padding: 0.2em;
}

#tjbar-table a:hover {
  color: #D21242;
  background-color: #fff;
  font-family: 'PT Sans', opensans;
  padding: 0.2em;
} 

/* END TJBAR */

#tag-heading {
  position: absolute;
  left: auto;
  top: 0px;
}

/* RECIPE ON TJ'S RECIPES PAGES */
#tile-recipe-flex {
  border-radius: 20px;
  /* border: 2px solid black; */
  background-color: #FFF;
  width: 15em;
  height: 21em;
  /* padding: 1em; */
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  line-height: 120%;
  text-align: center;
  margin: 0.5em;
  box-shadow:0 0 3px grey;
}

#tile-recipe-title a {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#tile-recipe-tags, #tile-recipe-directions {
  font-size: 0.8rem;
  margin-bottom: 0px;
  margin-top: 3px;
}

#tile-recipe-info {
  margin: auto;
  padding: 0.2em;
  padding-top: 0em;
  margin-top: 0px;
}

#tile-recipe-img {
    max-width: 17em;
    max-height: 9em;
    position: relative;
    left: -3px;
    top: 0px;
}
#tile-recipe-img:hover {
  opacity: 0.5;
}

/* This is used on My Recipes and my grocery list */
.my-container {
  /* display: inline-block; */
  top: 10rem;    /* NavBar TJNavBar height */
  margin-bottom: 2.5rem;    /* Footer height */
  margin-left: 250px;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: #f2f2f2;
  text-align: center;
}

.container {
  /* display: inline-block; */
  top: 9rem;    /* NavBar TJNavBar height */
  margin-top: 9em;
  margin-bottom: 2.5rem;    /* Footer height */
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-bottom: 2.5rem;
  background-color: #f2f2f2;
  text-align: center;
}

.flex-container-myrecipespage {
  /* We first create a flex layout context */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
    /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
   flex-flow: row wrap;
   margin-top: 9rem;
  
   /* Then we define how is distributed the remaining space */
   list-style: none;
   padding-bottom: 5.5rem;    /* Footer height */
   overflow-y: scroll;
   max-width: 200rem;

}

.flex-container-myrecipes {
  /* We first create a flex layout context */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  /* background-image: url('localhost:5000/static/imag/racheltile.jpg');
  background-repeat: repeat; */
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
    /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
   flex-flow: row wrap;
  
   /* Then we define how is distributed the remaining space */
   list-style: none;
   padding-bottom: 5.5rem;    /* Footer height */
   overflow-y: scroll;
   max-width: 100rem;

}

/* CONTAINER HOLDING ALL INFO */
.flex-container {
  /* We first create a flex layout context */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding-bottom: 2.5rem;
  background-color: #f2f2f2;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
    /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
   flex-flow: row wrap;
  
   /* Then we define how is distributed the remaining space */
   list-style: none;
   top: 9rem;    /* NavBar TJNavBar height */
   padding-top: 9em;
   padding-bottom: 5.5rem;    /* Footer height */
   overflow-y: scroll;
   max-width: 200rem;

}

  .flex-container-store {
    /* We first create a flex layout context */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding-bottom: 2.5rem;
    background-color: #f2f2f2;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 50rem;
    max-height: 90%;
    margin: 0 auto;


  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  list-style: none;
  top: 9rem;    /* NavBar TJNavBar height */
  padding-top: 9em;
  padding-bottom: 5.5rem;    /* Footer height */
  overflow-y: scroll;
}

/* DETAILED RECIPE CARD */

.card-recipe-title {
  line-height: 1.7;
  border-radius: 10px;
}

.card-recipe-title a {
  line-height: 1.5;
  border-radius: 10px;
  padding: 10px;
}


/* MAIN PAGE TILES */
.main-tiles-flex {
  position: relative;
  background-color: #FFF;
  width: 14em;
  height: 8em;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  justify-content: center;
  box-shadow:0 0 5px grey;
}

.main-tile-img {
  max-width: 100%;
  position: relative;
  top: 0px;
  left: -2px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFF;
}

.main-tiles-flex:hover .overlay {
  opacity: 0.8;
}

.main-img-caption {
  color: #d21242;
  font-size: 1rem;
  position: absolute;
  width: 10em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* END MAIN PAGE TILES */

/* 
title a {
  color: #0070f3;
  text-decoration: none;
}

title a:hover,
title a:focus,
title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

title,
.description {
  text-align: center;
} */
/* 
.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
  overflow-y: scroll;
} */



/* MY RECIPES FLEX BOX */

.my-recipe-flex {
  border-radius: 10px;
  /* border: 2px solid black; */
  width: 100%;
  background-color: #fff;
  min-height:16em;
  max-height:52em; 
  min-width: 15em;
  max-width: 45em;
  /* padding: 1em; */
  vertical-align: top;
  line-height: 120%;
  text-align: left;
  margin: 0em;
  box-shadow:0 0 3px grey inset;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.my-recipe-flex span {
  background-color: #fff;
  padding: 4px 10px;
  border-radius: 10px;
}

.my-ingredient-flex {
  border-radius: 10px;
  /* border: 2px solid black; */
  width: 100%;
  background-color: #fff;
  max-width: 54em;
  /* padding: 1em; */
  vertical-align: top;
  line-height: 120%;
  text-align: left;
  margin: 1em;
  box-shadow:0 0 5px grey;
  overflow: hidden;
}

.my-recipe-flex img, .my-ingredient-flex img {
  border-radius: 5px;
  max-width: 100%;
  box-shadow:0 0 5px grey;
}

/* END MY RECIPES FLEX BOX */

/* MY RECIPES PAGE */

#column-left {
  height: 100%;
  width: 20em;
  max-width: 95%;
  margin: 1em;
  text-align: left;
}

#column-middle {
  width: 28%;
  min-width: 20em;
  max-width: 30em;
  height: 95%;
  margin: 1em;
}

#column-right {
  flex: 1 0 auto;
  max-width: 95%;
  margin: 1em;
}

.table-wide {
  width: 20em;

}

/* END MY RECIPES PAGE */



/* MY GROCERY LIST PAGE */
#column-left-ingredients {
  width: 22%;
  max-height: 80%;
  max-width: 50em;
  padding: 0.5em;
  display: inline-table;
  margin-top: -2px;
  vertical-align: 2px;
  
}
#column-ingredients {
  width: 75%;
  max-width: 45em;
  margin: 1%;
  display: inline-table;

}
/*  END MY GROCERY LIST PAGE */



/* USED ON MY GROCERY AND SINGLE RECIPE */
#ingredients-table td{
  padding-right: 0.5em;
}

#ingredients-table th {
    text-align: left;
}
/* 
END USED ON MY GROCERY LIST AND SINGLE RECIPE */



/* SINGLE RECIPE PAGE */
#column-recipe-left {
  width: 40%;
  height: 100%;
  max-width: 50em;
  padding: 0.5em;
  display: inline-block;
}

#coilumn-recipe-right {
  width: 45%;
  margin: 1%;
  display: inline-block;
}
#row-recipe {
  width: 100%;
  margin: 1%;
}

/*  END USED ON SINGLE RECIPE PAGE */



/* FOR DIV BOX THAT SCROLLS */
.scrollable {
  width: 95%;
  overflow-y:scroll; 
  position:relative;
  max-height: 13em;
  background-color: #FFF;
  border-radius: 10px;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

 /* SIGN UP AND SIGN IN */



 /* Clear floats after the columns */
#container-inup {
  display: flex;
  top: 9rem;    /* NavBar TJNavBar height */
  padding-top: 9em;
  padding-bottom: 5.5rem;    /* Footer height */
  max-width: 90em;
  overflow-y: scroll;
  align-content: center;
  justify-content: center;
  align-items: center;
}



/*  LOG IN PAGE */

#container-inup:after {
  display: flex;
}

#log-in, #create-account {
  content: "";
  border-radius: 15px;
  background-color: #fff;
  box-shadow:0 0 5px grey;
  height: 25em;
  /* padding: 1em; */
  vertical-align: top;
  overflow: scroll;
  display: inline-block;
  justify-content: center;
  align-items: center;
  line-height: 120%;
  margin: 2em;
  padding: 0em 2em;
}

#log-in {
  width: 18em;
}

#create-account {
  width: 32em;
}


/* END LOG IN PAGE */

/* VENMO MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}


/* FAVORITE BUTTON DOESNT WORK STYLING*/
.favorite-button {
  color:#D21242;
  background-color: #fff;
  margin: 0px;
  cursor: pointer;
}

.favorite-button:hover {
  font-size: 1.5rem;
  padding: 0.216rem 0.5rem;
}

/* MY RECIPES NAV BAR*/
#navbar {
  position: fixed;
  top: 5.2em;    /* NavBar TJNavBar height */
  bottom: 0rem;
  width: 250px; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  left: 0;
  padding-top: 0rem;
  border-width: 1px darkgrey;
  background-color: #fff; /* Dark Grey */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow: hidden;
  z-index: 9; 

}

/* The navigation menu links */
#navbar a {
  padding: 4px 6px 4px 14px;
  text-decoration: none;
  font-size: 0.8rem;
  color: #d21242;
  background-color: #fff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
#navbar a:hover {
  background-color: #f2f2f2;
}


/* MODAL STYLES */

.modal-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.modal-wrapper {
  width: 250px;
  height: 400px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: block;
  position: absolute;
  bottom: 50px;
  left: auto;
  z-index: 999999;
  border-radius: 10px;
}

.modal-img {
  width: 90%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  padding-top: 30px;
  justify-content: center;
  text-align: center;
  color: #141414;
}

.close-modal-button {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}

.resources-box {
  border-radius: 10px;
  /* border: 2px solid black; */
  width: 100%;
  background-color: #fff;
  min-width: 15em;
  max-width: 55em;
  /* padding: 1em; */
  line-height: 120%;
  text-align: left;
  margin: auto;
  box-shadow:0 0 3px grey inset;
  overflow: hidden;
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  text-align: center;
  padding: 2rem;
}

.resources-box td:nth-child(4) {
  max-width: 230px;
  padding-right: 5px;
}

.add-remove-grocery-button {
  width: 100%;
  border-radius: 0px;
  text-align: left;
  font-size: 0.889rem;
  margin: 0px;
}

.add-remove-grocery-button:hover {
  background-color: #f2f2f2;
  text-align: left;
  font-size: 0.889rem;
}

.instructions-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.component{
  width: 250px;
  margin:0 auto;
  padding: 3rem;
}

.page-link.active {
  background-color: #4CAF50;
  color: white;
}

.page-link:hover:not(.active) {background-color: #ddd;}

.instructions {
  display: inline-block;
  width: 200px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
}